// color-dark-yellow = #FFD752
// color-default-yellow = #FFED52
// color-purple-yellow = #FFC000
//
// color-carbone = #343b4c
// color-light-carbone = #62687f
// color-cloud-gray = #8d96b2
// color-pearl-gray = #c6cad8
// color-aluminium = #eef2f4
//
// color-dark = #262626
// color-black = #7d7d7d
// color-light-dark = #a8a8a8
// color-lighten-dark = #dddddd
//
// color-red = #ff564e
// color-green = #28bc00

color = {
  primary: #315efb,
  primaryDark: #274bc8,
  danger: #ff564e,
  success: #28bc00,
  warn: #ffc000,
  black: #000,
  dark: #262626,
  light: #fff,
  fullDark: #000,
  blueDark: #343b4c,
  snackbarBlueDark: #3d4454,
  purpleDeep: #3e217d,
  controls: {
    grey: {
      default: #ccc, // рамки кнопок
      disabled: #dde0e8, // задизейбленные контролы
      icon: rgba(94, 94, 94, 0.4), // иконки
      background: #f5f7f8, // бэкграунд кнопок
      lightBackground: #eef2f4, // бэкграунд иконки на нотификациях
      activeBackground: rgba(141, 150, 178, 0.2), // бэкграунд при :active состоянии на checkbox
      outline: #8d96b2, // обводка на outline контролах
      fieldOutline: #dde0e8, // обводка на outline контролах
      iconBackground: #f3f4f7,
      placeholder: #a4a9b8,
      fieldIcon: #B0B4C2,
      disabledText: #afb5c9
    }
  }
}
